/* Footer.css */

.footer {
  background: linear-gradient(135deg, white,white);
  color: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

.footer-logo img {
  height: 50px;
}

.footer-logo p {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  animation: fadeInUp 1.5s ease-in-out;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links ul li {
  cursor: pointer;
  font-size: 1rem;
  color: black;
  transition: color 0.3s ease;
}

.footer-links ul li:hover {
  color: #E38E49;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-icons-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D4EBF8;
  border-radius: 50%;
  transition: transform 0.3s ease, background 0.3s ease;
  cursor: pointer;
}

.footer-icons-container img {
  width: 20px;
  height: 20px;
}

.footer-icons-container:hover {
  transform: scale(1.1);
  background: #E38E49;
}

.footer-copy {
  margin-top: 20px;
  font-size: 0.9rem;
  color: black;
  animation: fadeInUp 2s ease-in-out;
}

.footer-copy hr {
  border: none;
  border-top: 1px solid black;
  margin: 20px auto;
  width: 80%;
}
.footer-copy p {
  color: black;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .footer-links ul {
      flex-direction: column;
      gap: 10px;
  }

  .footer-icons-container {
      width: 35px;
      height: 35px;
  }

  .footer-icons-container img {
      width: 18px;
      height: 18px;
  }
}
